/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'Ananda';
	src: url('fonts/AnandaBlack.woff2') format('woff2'),
		url('fonts/AnandaBlack.woff') format('woff');
}

@font-face {
	font-family: 'Bernardo Moda Contrast';
	src: url('fonts/BernardoModaContrast.woff2') format('woff2'),
		url('fonts/BernardoModaContrast.woff') format('woff');
}

@font-face {
	font-family: 'Bernardo Moda';
	src: url('fonts/BernardoModa.woff2') format('woff2'),
		url('fonts/BernardoModa.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bernardo Moda';
	src: url('fonts/BernardoModaSemibold.woff2') format('woff2'),
		url('fonts/BernardoModaSemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	width: 90%;
	max-width: 1200px;
	margin-inline: auto;
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	font-family: 'Bernardo Moda Contrast', serif;
	font-size: 28px;
	color: rgb(171, 136, 102);
	background-color: #121212;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color:inherit;
	display: inline-block;
}

ul {
	list-style-type: none ;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
	color: #fff;
	text-transform: uppercase;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 0;
	border-bottom: 2px solid rgba(171, 136, 102, 0.3);
	z-index: 1;
	animation: 2s fade-down linear;
}

@keyframes fade-down {
	from {
		opacity: 0;
		transform: translateY(-101%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-family: 'Ananda', cursive;
	font-size: 2.5rem;
	letter-spacing: 0.02em;
	color: #fff;
	-webkit-text-stroke: 0px transparent;
}

.logo span {
	color: transparent;
	-webkit-text-stroke: 0.5px rgb(171, 136, 102);
	transition: 500ms color;
}

.logo:hover span {
	color: #fff;
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav li {
	display: inline-block;
}

.nav li + li {
	margin-left: 45px;
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	position: relative;
	overflow: hidden;
	padding: 3px 0;
}

.btn:before {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 2px solid currentColor;
	transform: translateX(-101%);
	transition: 500ms transform;
}

.btn:hover:before {
	transform: translateX(0%);
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.hero-bg img {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; 
	z-index: 1; 
	animation: 2s fade-hero ease-in-out; linear ;
}

@keyframes fade-hero {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hero-bg-z1 img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
	z-index: 2;
	background-color: #121212;
	padding-bottom: 100px;
}

.intro__inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.box {
	text-align: center;
	text-transform: capitalize;
	background-color: #191919;
	border: 1px solid rgba(171, 136, 102, 0.3);;
	border-radius: 10px;
	padding: 50px 0;
	transition: 500ms transform, 500ms box-shadow;
}

.box img {
	opacity: 0.5;
	margin-bottom: 30px;
}

.box h4 {
	margin-bottom: 20px;
}

.intro .intro__inner .box:hover {
	transform: translateY(-20px);
	box-shadow: 0px 0px 10px #e29c1a;
}

/* ------------------------------------------------------------ *\
	About me
\* ------------------------------------------------------------ */

.about-me {
	width: 100%;
	background-color: #121212;
	padding: 100px 0;
}

.about-me__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

.about-me__content img {
	width: 300px;
	height: 500px;
}

/* ------------------------------------------------------------ *\
	Clock
\* ------------------------------------------------------------ */

.clock {
	position: relative; 
	aspect-ratio: 1 / 1;
	width: 100%;
	height: auto;;
	object-fit: cover;
	margin-inline: auto;
}

.numbers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cog1, .cog2, .cog3, .cog4, .cog5, .cog6, .cog7, .cog8, .cog-orange, .arrow-short, .arrow-long, .arrow-seconds {
	position: absolute;
}


.cog1 {
	width: 20%;
	height: 20%;
	bottom: 78%;
	left: 20.5%;
	transition: 0.25s;
}

.cog2 {
	width: 8%;
	height: 8%;
	bottom: 71.5%;
	left: 25.6%;
	transition: 0.25s;
}

.cog3 {
	width: 21%;
	height: 21%;
	bottom: 53%;
	left: 18.5%;
	transition: 0.25s;
}

.cog4 {
	width: 13.5%;
	height: 13.5%;
	bottom: 59.6%;
	left: 37%;
	transition: 0.25s;
}

.cog5 {
	width: 8.75%;
	height: 8.75%;
	bottom: 40.7%;
	left: 60%;
	transition: 0.25s;
}

.cog6 {
	width: 17.6%;
	height: 17.6%;
	bottom: 22.9%;
	left: 34.5%;
	transition: 0.25s;
}

.cog7 {
	width: 20.7%;
	height: 20.7%;
	bottom: 10.8%;
	left: 46.5%;
	transition: 0.25s;
}

.cog8 {
	width: 12.75%;
	height: 12.75%;
	bottom: 2%;
	left: 42.26%;
	transition: 0.25s;
}

.cog-orange {
	width: 24.5%;
	height: 24.5%;
	bottom: 37.55%;
	left: 37.9%;
	transition: 0.25s;
	z-index: 1;
}
.arrow-short {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.arrow-long {
	bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.arrow-seconds {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ------------------------------------------------------------ *\
	Projects
\* ------------------------------------------------------------ */

.projects {
	position: relative;
	height: 100vh;
	width: 100%;
}

.projects-bg img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	animation: 5s fade-hero ease-in-out; linear ;
}

.crystal-box {
	position: absolute;
}

.crystal-box--1 {
	right: 30%;
	bottom: 20%;
	animation: 5s float 1s ease-in-out infinite;
}

.crystal-box--2 {
	right: 60%;
	bottom: 40%;
	animation: 5s float2 ease-in-out infinite;
}

.crystal-box--3 {
	right: 20%;
	bottom: 65%;
	animation: 5s float 2s ease-in-out infinite;
}

.crystal-box:hover .crystal {
	filter: drop-shadow(0 0 50px goldenrod) brightness(1.3);
}

.crystal {
	width: 175px;
	height: 100px;
	transition: 500ms filter;
}

.crystal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ------------------------------------------------------------ *\
	Projects
\* ------------------------------------------------------------ */

.project {
	position: absolute;
	right: -75%;
	top: 90%;
	font-size: 16px;
	color: #fff;
	width: 500px;
	padding-bottom: 30px;
	overflow: hidden;
}

.project__inner {
	display: flex;
	gap: 20px;
	padding: 5px;
	transform: translateY(-101%) scale(0);
	transition: 1000ms transform;
	/*background-color: rgba(0, 0, 0, 0.4);*/
	border-radius: 10px;
}

.crystal-box:hover .project__inner {
	transform: translateY(10%) scale(1.0);
}

.crystal-box-2:hover .project__inner {
	transform: translateY(10%) scale(1.0);
}

.crystal-box-3:hover .project__inner {
	transform: translateY(10%) scale(1.0);
}

.crystal-box .project__inner,
.crystal-box-3 .project__inner {
	flex-direction: row-reverse;
	text-align: right;
}

.crystal-box-2 .project {
	right: auto;
	left: -75%;
}

.project__content {
	flex: 0 0 50%;
}

.project__media {
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
}

.project__media img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes float {
	0% {
		transform: translateY(0px) rotate(10deg);;
	}

	50% {
		transform: translateY(-15px) rotate(10deg);;
	}

	100% {
		transform: translateY(0px) rotate(10deg);;
	}
}

@keyframes float2 {
	0% {
		transform: translateY(0px) rotate(-10deg);;
	}

	50% {
		transform: translateY(-15px) rotate(-10deg);;
	}

	100% {
		transform: translateY(0px) rotate(-10deg);;
	}
}
/* ------------------------------------------------------------ *\
	Media
\* ------------------------------------------------------------ */

@media (max-width: 800px) {

	.logo {
		-webkit-text-stroke: 1px rgb(171, 136, 102);
	}

	.logo span {
		display: none;
	}

	.nav li {
		font-size: 1.4rem;
	}

	.nav li + li {
		margin-left: 10px;
	}

	.btn--contact {
		display: none;
	}

	.intro__inner,
	.about-me__inner {
		grid-template-columns: 1fr;
	}

	.clock {
		width: 70%;
	}

	.crystal {
		width:  87.5px;
		height: 50px;
	} 

	.project {
		width: 250px;
	}
}
