/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	position: relative;
	overflow: hidden;
	padding: 3px 0;
	display: inline-block;
}

.btn:before {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 2px solid currentColor;
	transform: translateX(-101%);
	transition: 500ms transform;
}

.btn:hover:before {
	transform: translateX(0%);
}

.btn-circle {
	border: none;
	background-color: rgb(171, 136, 102);
	padding: 5px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	transition: 500ms background-color;
}

.btn-circle:hover {
	background-color: #fff;
}

.btn-circle svg {
	color: #121212;
	width: 20px;
	height: 20px;
}

.header-buttons {
	display: flex;
	align-items: center;
}